* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira sans', sans-serif;
}

body {
	background-color: #fff;
	color: #000000;
}

main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
}

main h1 {
	font-size: 2.5rem;
	text-transform: capitalize;
	margin-bottom: 0.5rem;
}

main h1 ~ p {
	margin-bottom: 2rem;
}

main .create-new {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 750px;
}

main .create-new input {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: 1px solid #FFF;
	background-color: transparent;
	color: #000000;
	font-size: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin: 0;
    width:  200px;
	transition: 0.4s;
}

main .create-new input:focus {
	border-bottom-color: #000;
}

main .create-new button {
	appearance: none;
	border: none;
	outline: none;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin-left: 0.5rem;
	cursor: pointer;
}

main .tasks {
	width: 100%;
	max-width: 480px;
	margin-top: 2rem;
}

main .tasks .task {
	display: flex;
	align-items: center;
    border: #e8e8e8 1px solid;
	justify-content: space-between;
	background-color: #fff;
	padding: 1rem;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
}

main .tasks .task .buttons {
	min-width: fit-content;
}

main .tasks .task button {
	appearance: none;
	border: none;
	outline: none;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	color: #fa9b15;
	font-size: 0.875rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin-left: 0.5rem;
	cursor: pointer;
}


main .tasks .task button:hover {
	color: #fa9b15;
}


main .tasks .task button.delete {
	background-color: transparent;
	color: #e8e8e8;
}

main .tasks .task button.delete:hover {
	background-color: transparent;
	color: #fa0505;
}

main .tasks .task button.delete:disabled {
	background-color: transparent;
	color: #e8e8e8;
    cursor: not-allowed;
}


.tasks .task.is-complete {
	opacity: 0.7;
}

.tasks .task.is-complete .content {
	text-decoration: line-through;
    color: #e8e8e8;
}

.task-status{
	display: flex;
	align-items: right;
	text-align: right;
	justify-content: right;
}
.task-status-style{
	margin-left: 10px;
}